@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: rgb(32, 31, 29);
}

body::-webkit-scrollbar-thumb {
  background-color: white;
  border: 3px solid rgb(32, 31, 29);
  border-radius: 0.3rem;
}
